/*Body Background and Font*/

body{
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
    margin-bottom: 1%;
}

/*Container settings with margin and different background color*/

.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 0%;
    margin: 0 auto;
    padding: 20px;
    background-color: #D4E9E7; 
}

img{
    width: 100%;
}

/*Title and navigation settings*/

.site-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    margin: 0%;
    font-size: 50px;
    color: white;
    font-weight:normal;
    max-width: 1200px;
}

.navigation ul {
    padding: 0;
    margin: 0;
    display: inline-block; 
    font-weight: bold;
    font-size: large;
}

.navigation ul li {
    display: inline;

}

.navigation ul li:not(:last-child) {
    border-right: 1px solid #000;
    padding-right: 10px;
}

.navigation ul li a {
    text-decoration: none;
    padding: 0 160px;
    color: black;
}

.article-image {
    width: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

/*Contact form and Button sizing with border box*/

.contact-form {
    border: 2px solid black; 
    padding: 20px;
}
.field{
    width: 100%;
    height: 10px; 
    padding: 10px;
    box-sizing: border-box;
}
.field-m{
    width: 100%; 
    height: 50px; 
    padding: 50px; 
    box-sizing: border-box;
}

button[type="submit"] {
    margin-top: 15px;
    padding: 10px 10px; 
    font-size: 15px;
    border-width: 2px;
    border-style: solid; 
    border-color: black;
    cursor: pointer;
}
/*footer made in the right as per the requirement and for better visibility*/
footer{
    text-align: right;
}

