html {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
	margin: 0 auto;
	letter-spacing: 0px;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	background-color: #222;
	padding: 15px;
}

.logo {
	display: flex;
	background-color: #c78c06;
}

.logo img {
	width: 105px;
	padding-top: 20px;
	padding-bottom: 85px;
}

nav {
	display: flex;
	justify-content: center;
	position: relative;
	top: -45px;
	height: 280px;
}

nav ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

nav ul li {
	text-align: center;
}

nav ul li a {
	color: #c78c06;
	letter-spacing: 0px;
}

a.home {
	color: #222;
}

a {
	text-decoration: none;
}

.searchbar {
	display: flex;
	flex-direction: row;
}

input {
	font-size: 16pt;
	flex: 1 1 auto;
}

.searchbutton {
	width: 45px;
	height: 45px;
	background-color: #222;
	border-style: solid;
	border-color: #c78c06;
}

.welcome {
	background-image:url("../images/main-banner.jpg");
	background-size: cover;
	height: 645px;
}

.welcome .wrapper {
	background: #222222;
    opacity: 0.7;
	padding: 15px;
	position: relative;
	top: 65px;
}

h1 {
	color: #fff;
	font-size: 58pt;
	font-weight: bold;
	line-height: 1.5;
	margin-top: 35px;
	margin-bottom: 25px;
}

p {
	font-size: 12pt;
	line-height: 1.5;
	margin-bottom: 15px;
}

.wrapper p{
	color: #fff;
}

.bannerbutton {
	background-color:#c78c06;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16pt;
	padding: 40px 35px;
}

.about {
	background-color: #ffe6ac;
}

.about .container{
	padding: 15px;
}

.about img {
	width: 730px;
	height: 365px;
}

h2 {
	font-size: 38pt;
	font-weight: bold;
}

.about h2 {
	margin-top: 30px;
	margin-bottom: 20px;
}

.services {
	background-color:#fff;
	padding: 15px;
}

.services h2 {
	margin-top: 30px;
	margin-bottom: 25px;
}

.services img {
	width: 730px;
	height: 485px;
}

.services .container {
	margin-bottom: 40px;
	background-color: #ffe6ac;

}

.padded-content {
	padding: 15px;
}

h3 {
	font-size: 24pt;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.services button {
	background-color: #222;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16pt;
	color: #fff;
	padding: 35px 30px;
	letter-spacing: 1px;
}

.our-vision {
	background-image: url(../images/vision.jpg);
	background-size: cover;
	background-position: 0% 50%;
	height: 280px;
	color: #fff;
}

.our-vision .wrapper {
	padding: 15px;
}

.our-vision button {   
	background:rgba(34, 34, 34, 0.6);
	border-style: solid;
	border-color: #c78c06;
	color: #fff;
	font-size: 16pt;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	padding: 35px 30px;
}

.team {
	background-color: #fff;
	padding: 15px;
}

.team h2 {
	margin-top: 45px;
	margin-bottom: 30px;
}
.team img {
	width: 730px;
	height: 485px;
}

.john {
	background-color:#ffe6ac;
	margin-bottom: 15px;
}

.team h3 {
	margin-top: 15px;
}

h4 {
	font-size: 12pt;
	font-weight: bold;
	letter-spacing: 0.5px;
	padding-bottom: 5px;
	border-bottom: 2px #c78c06 solid;
	margin-top: -10px;
	margin-bottom: 10px;
	width: 100%;
}

.bob {
	background-color: #ffe6ac;
}

.info {
	background-color: #fff;
	padding: 15px;
}

.info h2 {
	margin-bottom: 40px;
	margin-top: 50px;
	letter-spacing: 0.5px;
}

label {
	font-size: 10pt;
	letter-spacing: 1px;
}

.contact input {
	width: 700px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 2.5px;
}

.contact input#message {
	height: 160px;
}

.contact button {
	background-color: #222;
	color:#c78c06;
	border: none;
	font-size: 16pt;
	letter-spacing: 1px;
	padding: 5px;
}

table {
	width: 100%;
}

th {
	border: 1px solid black;
	font-size: 12pt;
	background-color: #ffe6ac;
	padding: 20px;
	letter-spacing: 0px;
}
td {
	border: 1px solid black;
	font-size: 12pt;
	padding: 20px;
	letter-spacing: 0px;
}




























